.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: #e0e0e0;
  }
  
  .sidebar-item.active {
    border-left: 5px solid red; 
  }
  
  
  .sidebar-item svg {
    margin-right: 10px;
  }
  